@{
    ViewData["Title"] = "Geoportail";
}

<h2 class="text-center">Geoportail du Grand Casablanca</h2>

<div class="container">
    <div id="mapDiv" style="height: 700px; width: 100%;"></div>
</div>
@section Scripts {
   
<script>
    document.addEventListener("DOMContentLoaded", function () {
        require([
            "esri/config",
            "esri/Map",
            "esri/views/MapView",
            "esri/layers/WMSLayer"
        ], function (esriConfig, Map, MapView, WMSLayer) {

            esriConfig.apiKey = "AAPK81509221ae8b49458f20b53d523169c9coujw2sbl-hg3Xp3n_AkIv4ds64xLz-pGXxEuyHfyq-qlcQgDa_DqDjVXtItHzTO";

            const wmsUrl = "http://172.205.217.231/qgisserver?SERVICE=WMS&REQUEST=GetCapabilities&MAP=/home/gisadmin/Documents/projects/casavm.qgs";

            const wmsLayer = new WMSLayer({
                url: wmsUrl,
                sublayers: [
                    { name: "Commune" },
                    { name: "Site" }
                ]
            });

            const map = new Map({
                basemap: "streets-vector",
                layers: [wmsLayer]
            });

            const view = new MapView({
                map: map,
                center: [-7.62, 33.59],
                zoom: 9,
                container: "mapDiv"
            });
        });
    });
</script>
}
