

@section Scripts {
    <link rel="stylesheet" href="https://js.arcgis.com/4.26/esri/themes/light/main.css" />
    <script src="https://js.arcgis.com/4.26/"></script>
    <script src="~/js/map.js"></script>
}
<h2 class="text-center">Geoprtail du Grand Casablanca</h2>

<div class="container">
    <!-- Carte (au-dessus du tableau) -->
    <div id="mapDiv" style="height: 700px; width: 100%;"></div>

   
</div>
